@font-face {
	font-family: "norse-bold";
	src: url("../fonts/norse_bold.woff2") format("woff2");
	font-display: swap;
}

.main {
	background-color: rgb(34, 32, 32);
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

.leftSection {
	width: 40%;
	height: 100%;
	background-image: url("../img/leafs_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.creditBackground {
	text-align: center;
	margin-top: auto;
}

.creditBackground>p>a {
	color: white;
}

.logoHeader {
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 30%;
}

.logoHeader h1 {
	text-align: center;
	font-size: 6rem;
}

.rightSection {
	width: 60%;
	height: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	min-width: 400px;
}

.intro {
	margin-top: 20%;
	
}

.info{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.info label {
	font-size: 1rem;
}

.info input {
	font-size: clamp(1rem, 0.75 + 1.5vw, 2rem);
	height: calc(1rem * 1.5);
	width: 20ch;
}

.input-div label {
	width: 25ch;
	margin-right: 5px;
}

.input-div {
	text-align: right;
	display: flex;
	min-width: 50%;
	margin-top: 5px;
	margin-bottom: 5px;
}

#grayBackground {
	background-color: gray;
}

.submitButton {
	margin-top: 20px;
	margin-left: 20px;
}

.intro h2 {
	font-size: clamp(1.5rem, 0.75rem + 1.5vw, 2rem);
	line-height: 1.5;
	max-inline-size: 66ch;
	font-family: 'Roboto', 'Courier New', Courier, monospace;
}

.logoHeader {
	display: flex;
}

.logoHeader h1 {
	font-family: "norse-bold", system-ui;
}

.logoHeader img {
	width: 100px;
	height: auto;
}

.creditBackground {
	color: white;
}