@font-face {
	font-family: "norse-bold";
	src: url("../fonts/norse_bold.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "roboto-bold";
	src: url("../fonts/Roboto-Bold.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "roboto-regular";
	src: url("../fonts/Roboto-Regular.woff2") format("woff2");
	font-display: swap;
}

.main {
	display: flex;
}

.WhiteBackground {
	background-color: white;
	padding: 40px 0px;
}

/* Left side */

.LeftSide {
	/* backround */
	background-image: url("../img/leafs_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	width: 30vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	color: white;
}

.LeftSide > p {
	margin-top: auto;
	text-align: center;
}

.Header {
	background-color: rgba(0, 0, 0, 0.3);
	font-family: 'norse-bold';
	font-size: clamp(2rem, 2rem + 1.5vw, 6rem);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40%;
}

.Header img {
	width: auto;
	height: 2em
}

.LeftSide p a {
	color: white;
}

/* Right side */

.RightSide {
	width: 70vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: rgb(248, 248, 248);
}

.intro {
	margin-top: 10%;
}

.intro + p {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.intro,
.intro + p {
	font-size: clamp(0.75rem, 0.5rem + 1.0vw, 3rem);
	max-inline-size: 66ch;
	font-family: 'roboto-bold';
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.inputs,
.WhiteBackground > h2 {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.inputs {
	display: flex;
	flex-wrap: wrap;
	margin-top: 1rem;
	gap: 2rem;
}

.inputs p {
	width: 30ch;
	display: flex;
	flex-direction: column;
}

.inputs label,
.inputs input {
	width: 30ch;
}

.Last {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	width: 90%;
}

.Last p {
	margin-top: 2rem;
}

input:required {
}
